.UiSetupHeader {
  width: 566px;
  display: flex;
  align-items: center;
}

.UiSetupHeaderButton {
  width: 50px;
}

.UiSetupButtonRow {
  display: flex;
  align-items: center;
  gap: 4px;
}

.UiSetupHeaderCenter {
  flex: 1;
  display: flex;
  justify-content: center;
}

.UiSetupHeaderRight {
  width: 50px;
  min-width: 50px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
